In [2]:
import pandas as pd
from scipy.io import loadmat

In [7]:
thyroid_data = loadmat("thyroid.mat")

In [8]:
type(thyroid_data)

dict

In [9]:
thyroid_data

{'__header__': b'MATLAB 5.0 MAT-file, written by Octave 3.8.0, 2014-12-05 13:11:25 UTC',
 '__version__': '1.0',
 '__globals__': [],
 'X': array([[7.74193548e-01, 1.13207547e-03, 1.37571157e-01, 2.75700935e-01,
         2.95774648e-01, 2.36065574e-01],
        [2.47311828e-01, 4.71698113e-04, 2.79886148e-01, 3.29439252e-01,
         5.35211268e-01, 1.73770492e-01],
        [4.94623656e-01, 3.58490566e-03, 2.22960152e-01, 2.33644860e-01,
         5.25821596e-01, 1.24590164e-01],
        ...,
        [9.35483871e-01, 2.45283019e-02, 1.60341556e-01, 2.82710280e-01,
         3.75586854e-01, 2.00000000e-01],
        [6.77419355e-01, 1.47169811e-03, 1.90702087e-01, 2.42990654e-01,
         3.23943662e-01, 1.95081967e-01],
        [4.83870968e-01, 3.56603774e-03, 1.90702087e-01, 2.12616822e-01,
         3.38028169e-01, 1.63934426e-01]]),
 'y': array([[0.],
        [0.],
        [0.],
        ...,
        [0.],
        [0.],
        [0.]])}

In [10]:
X = thyroid_data['X']
y = thyroid_data['y']

In [15]:
df_X=pd.DataFrame(X)
df_X.head()

          0         1         2         3         4         5
0  0.774194  0.001132  0.137571  0.275701  0.295775  0.236066
1  0.247312  0.000472  0.279886  0.329439  0.535211  0.173770
2  0.494624  0.003585  0.222960  0.233645  0.525822  0.124590
3  0.677419  0.001698  0.156546  0.175234  0.333333  0.136066
4  0.236559  0.000472  0.241935  0.320093  0.333333  0.247541

In [16]:
df_y=pd.DataFrame(X)
df_y.head()

          0         1         2         3         4         5
0  0.774194  0.001132  0.137571  0.275701  0.295775  0.236066
1  0.247312  0.000472  0.279886  0.329439  0.535211  0.173770
2  0.494624  0.003585  0.222960  0.233645  0.525822  0.124590
3  0.677419  0.001698  0.156546  0.175234  0.333333  0.136066
4  0.236559  0.000472  0.241935  0.320093  0.333333  0.247541